.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#root {
  height: 100%;
}

body {
  min-width: 600px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: max(calc(2vmin), 15px);
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#path-buttons {
  margin: 20px;
}

#path-buttons button {
  font-size: inherit;
  height: fit-content;
}


#path-buttons button a.active {
  color: red;
}

@import '~antd/dist/antd.dark.css';